<launch>

	<arg name="model" default="$(find hovercraft)/urdf/description.urdf"/>
	<arg name="world" default="$(find hovercraft)/worlds/empty.world" />

	<!-- Inclui o arquivo de inicialização do Gazebo, fornecido pelo pacote gazebo_ros -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)" />
  </include>

	<!-- define o parametro robot_description e relaciona ele com o arquivo da descrição fisica do robô (description.urdf) -->
	<param 
    name="robot_description" 
    textfile="$(find hovercraft)/urdf/description.urdf" />

	<!-- Executa o nó gerador do pacote gazebo_ros. O nome não importa se você tiver apenas um único robô. -->
	<node 
    name="urdf_spawner" 
    pkg="gazebo_ros" 
    type="spawn_model"
    args="-z 1.0 -unpause -urdf -model robot -param robot_description" 
    respawn="false" 
    output="screen" />

    <!-- converter o estado de cada joints em transformações TF para  o rviz -->
    <node 
    name="robot_state_publisher" 
    pkg="robot_state_publisher" 
    type="robot_state_publisher"
    respawn="false" 
    output="screen">
    </node>

    <node 
    name="joint_state_publisher" 
    pkg="joint_state_publisher" 
    type="joint_state_publisher">
    </node>

    <node pkg="hovercraft" type="no_camera" name="camera" output="screen" />
    <node pkg="hovercraft" type="no_controle.py" name="controle" output="screen" />

</launch>
